APP_ENV=prod
APP_SECRET=APP_SECRET
DEFAULT_URI=https://snipnote.pl
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
JWT_SECRET=JWT_SECRET
VERIFY_EMAIL_SECRET=EMAIL-SECRET
REFRESH_TOKEN_TTL_SECONDS=1209600
MAILER_DSN="smtp://login:password@ssl0.ovh.net:465?encryption=tls&auth_mode=login"
MAILER_FROM=kontakt@snipnote.pl
TRAEFIK_ACME_EMAIL="kontakt@snipnote.pl"
TRUSTED_PROXIES=172.16.0.0/12
TRUSTED_HOSTS=snipnote.pl
TRAEFIK_DOMAIN=snipnote.pl
REFRESH_TOKEN_TTL_SECONDS=1200