APP_ENV=prod
APP_DEBUG=0
APP_SECRET=replace-me-app-secret

# Application image pushed to registry (GHCR/Docker Hub)
APP_IMAGE=ghcr.io/poldas/snipnote:prod

# Database
POSTGRES_USER=app
POSTGRES_PASSWORD=replace-me-db-pass
POSTGRES_DB=app
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=16&charset=utf8"

# Auth / security
JWT_SECRET=replace-me-jwt-secret
VERIFY_EMAIL_SECRET=replace-me-verify-secret
MAILER_DSN=smtp://replace-me-user:replace-me-pass@mailer:587/?encryption=tls
MAILER_FROM=no-reply@snipnote.pl
DEFAULT_URI=https://snipnote.pl
TRUSTED_PROXIES=172.16.0.0/12
TRUSTED_HOSTS=snipnote.pl

# Traefik / TLS
TRAEFIK_DOMAIN=snipnote.pl
TRAEFIK_ACME_EMAIL=kontakt@snipnote.pl