{% extends 'emails/base.html.twig' %}

{% block content %}
    <h1>Resetowanie hasła</h1>
    <p>Otrzymaliśmy prośbę o zresetowanie hasła do Twojego konta w Snipnote. Jeśli to nie Ty, możesz zignorować tę wiadomość.</p>
    <p>Aby ustawić nowe hasło, kliknij w poniższy przycisk:</p>
    
    <div style="text-align: center; margin: 40px 0;">
        <a href="{{ url }}" class="button">Zresetuj hasło</a>
    </div>
    
    <p style="font-size: 14px; color: #64748b;">Link jest ważny przez 1 godzinę. Jeśli przycisk nie działa, skopiuj poniższy adres do przeglądarki:</p>
    <p style="font-size: 12px; color: #94a3b8; word-break: break-all;">{{ url }}</p>
    
    <div class="divider"></div>
    
    <p>Dla Twojego bezpieczeństwa, nigdy nie udostępniaj tego linku nikomu innemu.</p>
    <p>Pozdrawiamy,<br>Zespół Snipnote</p>
{% endblock %}
