<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="toast-stack" aria-live="polite"></div>
        {% block body %}{% endblock %}
    </body>
</html>
