<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Snipnote{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/dist/common.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/dist/notes.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="overflow-x-hidden">
        <div id="toast-stack" aria-live="polite"></div>
        {% block body %}{% endblock %}
    </body>
</html>
