{% extends 'base.html.twig' %}

{% block title %}Strona nie została znaleziona | Snipnote{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public_note.css') }}">
{% endblock %}

{% block body %}
<main class="public-note">
    <section class="public-note__container">
        <div class="max-w-6xl mx-auto px-4 pt-4 sm:pt-6 pb-4">
            <header class="pn-auth-header">
                {% include 'components/logo.html.twig' with {size: 'small'} %}
                <div>
                </div>
            </header>
        </div>
        {% include 'components/public_note_error.html.twig' with { errorCode: 404 } %}
    </section>
</main>
{% endblock %}